#product-detail-full{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(240,240,240, 0.9);
	z-index: 1000;
	-ms-overflow-y: scroll;
	 overflow-y: scroll; 
	display: none;
}

#product-detail-full-content{
	width: 95%;
	max-width: 800px;
	margin: 0 auto;	
	padding: 2em;
	padding-top: 5em; 
	background-color: #FFF;
	
	.product-thumnail{
		border: 1px solid #999; 
	}
}

#close{
	font-family: $font-family-sans;
	position: absolute;
	top: 5em;
	z-index: 11000;
	right: 2.5%;
	color: #FFF;  
	padding: 0.25em 0.5em; 
	cursor: pointer;
	border: 1px solid $gray;
	color: $gray;  
}

.velo-name--modal{
	// font-family: $font-family-fun;
	color: #3D9CD2; 
}

.button-prev-next{
	position: fixed;
	top: 50%;
	z-index: 11000;
	font-family: $font-family-sans; 
	border: 3px solid $blue;
	background-color: $grayLight;
	color: $blue;
	-webkit-box-shadow: none; 
	box-shadow: none; 
		
	&#previous-bike{
		left: 1em;		
	}

	&#next-bike{
		right: 1em; 
	}
}