.size-filter{
	list-style-type: none;
	margin-left: 0;
	font-size: 1.125em; 
	
	li{
		float: left;
		margin-right: 0.25em;
		margin-left: 0.5em;
		cursor: pointer;
		display: block;
		line-height: 3;
		
		&:first-child{
			margin-left: 0;
		}

		&.active{
			.label{
				// background-color: #FF9B17;
				border: 3px solid $blue;
				background-color: $grayLight;
				color: $blue; 
			}
		}

	}

	.label{
		font-family: $font-family-sans; 
		background-color: $grayDark;
		color: #FFF;
		padding: 0.5em 0.75em;
		
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		&:hover{
			opacity: 0.7; 
		}
	}
}

