

body,
button,
input,
textarea {
  color: #60646c;
  font-family: $font-family-mono;
  line-height: 1.618;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

select {
  color: initial;
  font-family: $font-family-mono;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-sans;
  clear: both;
  // font-weight: 700;
  margin: 0 0 0.618em;
  color: #60646C;
}

.site-header{
	background-color: #ffffff;
	color: #1b1b1b;
}

a{
	color: #3D9CD2;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

a:focus{
	outline-color: #3D9CD2;
}

.main-navigation ul li a, 
.site-title a, 
ul.menu li a, 
.site-branding h1 a {
	color: #1b1b1b;
}

.main-navigation ul li a, 
.site-title a, 
ul.menu li a, 
.site-branding h1 a {
	color: #60646C;
}

.main-navigation ul li a:hover, 
.main-navigation ul li:hover > a, 
.site-title a:hover, 
a.cart-contents:hover, 
.site-header-cart .widget_shopping_cart a:hover, 
.site-header-cart:hover > li > a{
	color: #383838;
}
